
html{
    background-color: black;
}


body{
  color : white;
  margin : 0;
  padding : 0;
}

header{
  background-color: grey;
  /*position: sticky;*/
  top: 0;
  /*right: 0;*/
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  justify-content: center;
}

header > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
}

header > div > p {
  margin: 15px;
}

main{
    background-color: black;
    margin-top: 0;
    padding-bottom: 90px;
}

main > figure {
  display: flex;
  justify-content: center;
  margin-top: 0em;
}

main > div {
  text-align: center;
}

main>div>h1 + div > div p + figure>img {
  object-fit: contain;
}

footer{
  background-color: grey;
  position: fixed;
  bottom: 0;
  left : 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

/*figure {
  background-color: brown;
}*/

#header_droit{
  /*background-color: green;*/
  display: block;
  position: absolute;
  flex-direction: row;
  right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#Accueil{
  display: flex;
  flex-direction: column-reverse;
  padding-left: 0;
}

#Profil{
  display: flex;
  flex-direction: column-reverse;
}

#Projets{
  display: flex;
  flex-direction: column-reverse;
}

header > div > div > p{
  margin-top: 0;
}

header > div > div > p + figure{
  margin-bottom: 3px;
}

#mail{
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer > div{
  margin-left : 2 px;
}

footer > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: end;
}

#to_the_top{
  /*background-color: green;*/
  display: block;
  position: absolute;
  flex-direction: row;
  left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

footer > div > div + div > a {
  margin-right : 14px;
  /*background-color: blue;*/
}

footer > div > div + div > figure {
  margin-right : 8px;
  /*background-color: yellow;*/
}

header > div > div + div + div + div > figure {
  margin-right : 1px;
}

#select {
  background-color: black;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 0;
}

.wrapper{
    display: grid;
    grid-template-columns: 800px 600px;
    grid-auto-rows: 500px;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.fixe{
  position: fixed;
  bottom : 0;
  right: 0;
}

.img-UE{
  width: 500px; /* largeur commune */
  height: 300px; /* hauteur commune */
  object-fit: contain !important; 
}

.img-hors-ratio{
  width: 100%; /* Largeur flexible */
  height: auto; /* Hauteur ajustée automatiquement */
  object-fit: cover; /* Remplissage sans déformer */
  padding-top: 2em;
}

.grosse-marge-droite{
  margin-right : 8em !important;
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 1024px) {
  .wrapper {
      grid-template-columns: 1fr; /* Deux colonnes sur les écrans plus petits */
  }
}






