
html,main{
    background-color: rgb(226, 238, 237);
    color : black;
}

footer , header {
    background-color: rgb(29, 216, 207);
}

.wrapper {
    background-color: rgb(226, 238, 237);    
}

#select {
    background-color: black;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0;
    width : fit-content;
    align-self : center;
  }

